* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;

  color: #8b9aab;

  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  transition: all 0.4s ease-in-out;
}

button {
  cursor: pointer;
}

.App {
  max-width: 2000px;
  margin: 0 auto;
}

@media (min-width: 2000px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
